<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义日志输出到控制台的输出目标 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义根日志记录器 -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

</configuration>
